<%= error_messages_for :session, :header_message => 'There was a problem logging in', :message => "Please fix the following errors before continuing." %>
<fieldset>
  <legend>Login</legend>
  <% form_for @session do |f| %>
	<p>
		<%= f.label :login, "Login" %><br />
	    <%= f.text_field :login %>
	</p>
    <p>
		<%= f.label :password, "Password" %><br />
	    <%= f.password_field :password %>
	</p>
    <p>
		<%= submit_tag "login" %>
	</p>
  <% end %>
</fieldset>