<%= error_messages_for :user %>
<fieldset>
	<legend>User information</legend>
<% form_for @user do |f| %>
	
	<p><%= f.label :name, "Full name" %><br />
	<%= f.text_field :name %></p>
	
	<p><%= f.label :email, "E-mail address" %><br />
	<%= f.text_field :email %></p>
	
	<p><%= f.label :login, "Username" %><br />
	<%= f.text_field :login %></p>

	<p><%= f.label :password, "Password" %><br />
	<%= f.password_field :password %></p>

	<p><%= f.label :password_confirmation, "Password Confirmation" %><br />
	<%= f.password_field :password_confirmation %></p>

	<p><%= submit_tag "Submit" %></p>
<% end %>
</fieldset>