<fieldset>
	<legend>Episode information</legend>
<% form_for([@show, @episode]) do |f| %>
<%= f.error_messages %>
<p>
	<%= f.label :name, "Name" %><br />
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :date, "Date" %><br />
	<%= f.datetime_select :date  %>
</p>
<p>
	<%= submit_tag %>
</p>
<% end %>
</fieldset>