<div id="vote_status"><%= render :partial => 'status' %></div>

<h2 id="episode_name"><%= @episode.name %></h2>
<p>An episode of <%= link_to @episode.show.name, show_path(@episode.show) %>, which aired/will air at <%= @episode.date.strftime("%l:%M %p on %A, %B %e, %Y") %></p>

<ul id="current_contestants_list">
<%= render :partial => 'current_contestants', :locals => {:contestants => @episode.show.contestants } %>
</ul>