<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Fantasy Survivor</title>
		<%= stylesheet_link_tag 'style' %>
		<%= javascript_include_tag :defaults %>
	</head>
	<body>
		<div id="content">
			<div id="login_logout">
				<% if @current_user %>
				Logged in as: 
				<%= @current_user.login %>
				<em><%= link_to "(Logout)", @application_session, :method => :delete %></em>
				<% if @current_user.level == 'admin' %>
				<h4>You're an administrator!</h4>
				<% end %>
				<% else %>
				<em>Not logged in.</em>
				<%= link_to 'Login', login_path %> - 
				<%= link_to 'Register', new_user_path %> - 
				<%= link_to 'Help', help_users_path %>
				<% end %>
			</div>
			<h1><%= link_to "Fantasy Survivor", root_path %></h1>
			<% unless flash[:notice].blank? %>
				<div id="notification"><%= flash[:notice] %></div>
			<% end %>
			<%= yield %>
		</div>
	</body>
</html>